:root {
    --white: rgb(251, 250, 255);
    --blue: rgb(80, 81, 249);
    --lightBlue: rgb(106, 106, 251);
    --contentBg:rgb(229, 229, 229);
    --grey: rgb(230, 233, 237);
    --lightPurple: rgb(237, 236, 254);
}


* {
    font-family: "Comfortaa", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.app {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 150px 1fr;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    padding-top: 30px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
    gap: 25px;
}

.menu__item {
    border-radius: 14px;
    box-shadow: 0px 8px 14px 0px rgba(62, 107, 224, 0.12);
    background: rgb(255, 255, 255);
    padding: 10px 12px;
}

.menu__item-active {
    background-color: var(--blue);
}

.menu__item-active img {
    filter: brightness(0) invert(100%);
}

.menu__item:hover {
    background-color: var(--lightBlue);
}

.menu__item:hover img {
    filter: brightness(0) invert(100%);
}

.content {
    background-color: var(--contentBg);
}

.content__progress {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.content__title {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 400;
    line-height: 33px;
    margin-top: 50px;
    margin-left: 50px;
}

.content__progress-percent {
    display: flex;
    flex-direction: column;
    margin-right: 46px
}

.progress {
    color: rgb(35, 35, 96);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.progress-percent {
    margin-left: 127px;
}

.scroll {
    position: relative;
    border-radius: 4px;
    width: 100%;
    height: 5px;
    margin-top: 12px;
    margin-right: 45px;
    background: rgb(230, 233, 237);
}

.scroll-active {
    position: absolute;
    border-radius: 4px;
    background-color: var(--lightBlue);
    height: 5px;

    transition: all 0.5s ease-in;
}

.habbit {
    margin-bottom: 15px;
    display: flex;
}

.habbit__day {
    background-color: var(--white);
    padding: 19px 40px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: 41px;
    min-width: 150px;
}

.habbit__comment {
    background-color: var(--white);
    padding: 19px 700px 19px 24px;
    color: rgb(35, 35, 95);
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    position: relative;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 2px;
}

.form__delete {
    position: absolute;
    right: 63px;
    top: 126px;
    border: 1px dashed rgb(200, 197, 197);
}

.habbit__form {
    position: relative;
    box-sizing: border-box;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 2px;
}

.image__cloud {
    position: absolute;
    top: 19px;
    z-index: 3;
    left: 32px;
    border: 1px dashed rgb(200, 197, 197);
}

.input__wrapper {
    position: relative;
    display: inline-block;
    padding: 9px 141px 6px 18px;
    background-color: var(--white);
}

.about__comment {
    padding: 11px 700px 13px 48px;
    border: 1px solid rgb(231, 235, 251);
    border-radius: 9px; 
}

.form__add {
    position: absolute;
    color: rgb(80, 81, 249);
    font-size: 13px;
    font-weight: 500;
    line-height: 14px;
    border-radius: 9px;
    background-color: var(--lightPurple);
    padding: 14px 32px;
    right: 11px;
    top: 7px;
}

.error {
    border: 2px solid red;
}

#modal__window {
    width: 424px;
    height: 338px;
    border-radius: 10px;
    box-shadow: 0px 8px 14px 12px rgba(56, 56, 56, 0.05);
    background-color: rgb(255, 255, 255);
    margin-left: 50%;
    padding: 22px 20px 42px 21px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.modal__window-header {
    position: relative;
}

.modal__window-title {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
    position: absolute;
    left: 92px;
}

.modal__window-cross {
    position: absolute;
    right: 4px;
}

.modal__window-info {
    color: rgb(118, 131, 150);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.mogal__window-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 18px;
}

.menu__item-activ:focus {
    background-color: var(--blue);
}

.modal__window-add_habbits {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modal__window-input {
    box-sizing: border-box;
    border: 1px solid rgb(231, 235, 251);
    border-radius: 9px;
    background: rgb(255, 255, 255);
    padding: 11px 235px 12px 20px;
}

.modal__window-wrapper_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
}

.modal__window-btn {
    color: rgb(80, 81, 249);
    font-size: 13px;
    font-weight: 500;
    line-height: 14px;
    border-radius: 9px;
    background: rgb(237, 236, 254);
    padding: 14px 20px 11px 26px;
}

/* modal window */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #3a353575;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay__hidden {
    display: none;
}

.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 8px 14px 12px rgba(56, 56, 56, 0.05);
    background: rgb(255, 255, 255);
    width: 100%;
    max-width: 424px;
    padding: 20px 20px 40px 20px;
}

h2 {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
    margin-bottom: 20px;
}

.icon__label {
    color: rgb(118, 131, 150);
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 10px;
}


.icon__select {
    display: flex;
    gap: 25px;
    margin-bottom: 20px;
}

.icon {
    width: 45px;
    height: 45px;
    box-sizing: border-box;
    border: 1px solid rgb(80, 81, 249);
    border-radius: 14px;
}

.modal__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.modal__form input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(231, 235, 251);
    border-radius: 9px;
    background: rgb(255, 255, 255);
    padding: 10px 0px 10px 20px;
}

.close__btn {
    position: absolute;
    right: 15px;
    top: 15px;
    border: none;
}

.icon__active {
    background: var(--blue);
}

.icon__active img {
    filter: brightness(0) invert(1);
}

.icon:hover {
    background: var(--lightBlue);
}

.icon:hover img {
    filter: brightness(0) invert(1);
}

.button {
    color: rgb(80, 81, 249);
    font-size: 13px;
    font-weight: 500;
    line-height: 14px;
    border-radius: 9px;
    background: rgb(237, 236, 254);
    padding: 13px 20px;
}